 .navbar {
 	border: 0px;
 }
 .navbar-nav >li {
 	border: 2px solid transparent;
 }
 #master_nav .navbar-nav>li:hover ,
 #master_nav .navbar-nav>li:active {
    border-bottom: 2px solid #29d!important;
}

/*border-bottom: 3px solid transparent;*/